body {
	font-family: 'IBM Plex Sans', sans-serif;
	max-width: 80ch;
	margin: 1rem;
	margin-bottom: 2rem;
}

main > *,
pre[class*="language-"] {
	margin-top: 1.5em;
	margin-bottom: 0;
}

.post-header date{
	border: 1px solid black;
	padding: .2em .6em;
}
