@import 'settings';

@import 'generic.box-sizing';
@import 'generic.reset';
@import 'generic.root';

@import 'element.body';
@import 'element.header';

main {
	width: 100%;
	max-width: 60ch;
}

p {
	font-size: var(--s0);
}

pre[class*="language-"] {
	margin-top: var(--mg-stack);
}

nav.main-nav {
	margin-bottom: 1em;

	li {
		display: inline-block;
	}

	ul > li + li {
		margin-inline-start: .5em;
	}
}

.stack > * + * {
	margin-top: var(--mg-stack);
}

.posts-section {
	date {
		font-size: var(--s-1);
	}
	li {
		margin-top: .5em;
	}
}

p.tags {
	display: flex;
	font-size: var(--s0);

	> * + * {
		margin-left: .5em;
	}
}

p date {
	font-size: var(--s0);
}
