@import 'reset';

:root {
	--stack-margin: 1.5em;

	font-family: 'Cantarell', sans-serif;
	font-size: calc(1em + 0.5vw);
}

main {
	width: 100%;
	max-width: 60ch;

	padding: 1em;
}

pre[class*="language-"] {
	margin-top: var(--stack-margin);
}

.stack > * + * {
	margin-top: var(--stack-margin);
}

