@import 'settings';

@import 'generic.box-sizing';
@import 'generic.reset';
@import 'generic.root';

@import 'element.header';

body {
	padding: 1em 2em;
	line-height: 1.4;
}

main {
	width: 100%;
	max-width: 60ch;
}

h1 {
	font-size: var(--s4);
}

h2 { font-size: var(--s3); }

h3 { font-size: var(--s2); }

h4 { font-size: var(--s1); }

h1, h2, h3, h4 {
	line-height: 1.15;
}

p { font-size: var(--s0); }

nav.main-nav {
	margin-bottom: 1.5em;

	li {
		display: inline-block;
	}

	li + li {
		margin-inline-start: .5em;
	}

}

header > h1 + p {
	margin-top: 2em;
}

.stack > * + * {
	margin-top: 1.5em;
}

.posts-section {
	date {
		font-size: var(--s-1);
	}
	li {
		margin-top: .5em;
	}
}

p.tags {
	display: flex;
	font-size: var(--s0);

	> * + * {
		margin-left: .5em;
	}
}

p date {
	font-size: var(--s0);
}
